<main class="content-no-top">
<div class="container">
				<div class="row">
					<div class="col-lg-12 text-center">
						<h1 class="pad25">
							Thank You!
						</h1>
				
						<div class="lead">
							Thank you for your feed back and we will get back to you shortly. Check some of the
							<a href="/apps/mobile-pay-finder">apps</a> that we have made.
						</div>
					</div>
				</div>
			</div>
</main>