<!--REVOLUTION SLIDER-->
	<div class="tp-banner-container">
		<div class="tp-banner">
			<ul>
	<!-- SLIDE  1 KEN BURNS -->
		<li data-transition="slidedown" data-slotamount="7" data-masterspeed="2000"  data-delay="10000"  data-saveperformance="on"  
		data-title="45 Bit Code">
			
			<!-- OPTIONAL DARK OVERLAY REMOVE IF NOT NEEDED -->
		<div class="tp-caption overlay tp-fade fadeout tp-resizeme"
			data-x="center" data-hoffset="0"
			data-y="center" data-voffset="0"
			data-speed="1000"
			data-start="100"
			data-easing="Power4.easeOut"
			data-splitin="none"
			data-splitout="none"
			data-elementdelay="0.1"
			data-endelementdelay="0.1"
			data-endspeed="500"
			data-endeasing="Power1.easeOut"
			style="z-index: 2; max-width: auto; max-height: auto; white-space: nowrap;">
		</div>
		
		<!-- MAIN IMAGE -->
		<img src="/img/dummy.png" alt="" data-lazyload="img/top/placeit-4.jpg" data-bgposition="right top" data-kenburns="on" data-duration="12000" data-ease="Power0.easeInOut" 
		data-bgfit="115" data-bgfitend="100" data-bgpositionend="center bottom">
		
		<!-- LAYERS -->
			
			<!-- A -->
			<div class="caption lft ltt" data-x="center" data-y="180" data-speed="800" data-start="2100" data-easing="easeOutExpo" style="z-index: 4">
				<img src="/img/test.png" alt="" >
			</div>
		
			<!-- B -->
			<div class="tp-caption title1 tp-resizeme customin customout"
					data-x="center" data-hoffset="0"
					data-y="320"
					data-customin="x:0;y:0;z:0;rotationX:90;rotationY:0;rotationZ:0;scaleX:1;scaleY:1;skewX:0;skewY:0;opacity:0;transformPerspective:200;transformOrigin:50% 0%;"
					data-customout="x:0;y:0;z:0;rotationX:0;rotationY:0;rotationZ:0;scaleX:0.75;scaleY:0.75;skewX:0;skewY:0;opacity:0;transformPerspective:600;transformOrigin:50% 50%;"
					data-speed="1000"
					data-start="1400"
					data-easing="Back.easeInOut"
					data-endspeed="300" style="z-index: 4">
				Welcome to 45 Bit Code
			</div>

			<!-- C -->
			<div class="tp-caption sub tp-resizeme  lfl stl" data-x="center" data-y="400" data-speed="800" data-start="2100" data-easing="easeOutExpo" style="z-index: 4">
		We make great apps 1 bit at a time.
			</div>

			<!-- D-->
			<div class="tp-caption customin tp-resizeme"
					data-x="center"
					data-y="480" 
					data-customin="x:0;y:0;z:0;rotationX:0;rotationY:0;rotationZ:0;scaleX:0;scaleY:0;skewX:0;skewY:0;opacity:0;transformPerspective:600;transformOrigin:50% 50%;"
					data-speed="500"
					data-start="2900"
					data-easing="Power3.easeInOut"
					data-splitin="none"
					data-splitout="none"
					data-elementdelay="0.1"
					data-endelementdelay="0.1"
					data-linktoslide="next"
					style="z-index: 4; max-width: auto; max-height: auto; white-space: nowrap;">
				<!-- <a href="#" class="largesliderbtn">
					PORTFOLIO
				</a> -->
			</div>			
		</li>
	
	<!-- SLIDE 2 CIRCLE IMAGE -->
		<li data-transition="slideup" data-slotamount="7" data-masterspeed="1500"  data-saveperformance="on" data-title="iSpeakr - Stocks">
		
		<!-- OPTIONAL DARK OVERLAY REMOVE IF NOT NEEDED -->
		<div class="tp-caption overlay tp-fade fadeout tp-resizeme"
			data-x="center" data-hoffset="0"
			data-y="center" data-voffset="0"
			data-speed="1000"
			data-start="100"
			data-easing="Power4.easeOut"
			data-splitin="none"
			data-splitout="none"
			data-elementdelay="0.1"
			data-endelementdelay="0.1"
			data-endspeed="500"
			data-endeasing="Power1.easeOut"
			style="z-index: 2; max-width: auto; max-height: auto; white-space: nowrap;">
		</div>
		
		<!-- MAIN IMAGE -->
			<img src="/img/dummy.png" alt="" data-lazyload="img/top/placeit-5.jpg" data-bgposition="right top" data-kenburns="on" data-duration="12000" data-ease="Power0.easeInOut" 
		data-bgfit="115" data-bgfitend="100" data-bgpositionend="center bottom">
	
		<!-- LAYERS -->
			<!-- A -->
			<div class="tp-caption fullrounded customin"
				data-x="center" data-hoffset="0"
				data-y="center" data-voffset="0"
				data-customin="x:0;y:0;z:0;rotationX:0;rotationY:0;rotationZ:0;scaleX:0;scaleY:0;skewX:0;skewY:0;opacity:0;transformPerspective:600;transformOrigin:50% 50%;"
				data-speed="600"
				data-start="400"
				data-easing="Power4.easeInOut"
				data-elementdelay="0.1"
				data-endelementdelay="0.1"
				data-endspeed="300"
				style="z-index: 1;">
				
			</div>
				
			<!--B -->
			<div class="tp-caption title1 customin randomrotateout tp-resizeme"
				data-x="center" data-hoffset="0"
				data-y="180" 
				data-customin="x:0;y:0;z:0;rotationX:90;rotationY:0;rotationZ:0;scaleX:1;scaleY:1;skewX:0;skewY:0;opacity:0;transformPerspective:200;transformOrigin:50% 0%;"
				data-speed="300"
				data-start="600"
				data-easing="Power3.easeInOut"
				data-splitin="none"
				data-splitout="none"
				data-elementdelay="0.1"
				data-endelementdelay="0.1"
				data-endspeed="1000"
				style="z-index: 2; max-width: auto; max-height: auto; white-space: nowrap;">
			<img src="/img/stock.png" alt="" >
		</div>
		
			<!-- C -->
			<div class="tp-caption title1 tp-resizeme customin randomrotateout tp-resizeme"
				data-x="center" data-hoffset="0"
				data-y="320" 
				data-customin="x:0;y:0;z:0;rotationX:90;rotationY:0;rotationZ:0;scaleX:1;scaleY:1;skewX:0;skewY:0;opacity:0;transformPerspective:200;transformOrigin:50% 0%;"
				data-speed="300"
				data-start="600"
				data-easing="Power3.easeInOut"
				data-splitin="none"
				data-splitout="none"
				data-elementdelay="0.1"
				data-endelementdelay="0.1"
				data-endspeed="1000"
				style="z-index:2; max-width: auto; max-height: auto; white-space: nowrap;">
			iSpeaker - Stocks
		</div>

			<!-- D-->
			<div class="tp-caption sub tp-resizeme customin randomrotateout"
				data-x="center"
				data-y="400" 
				data-customin="x:0;y:0;z:0;rotationX:0;rotationY:0;rotationZ:0;scaleX:5;scaleY:5;skewX:0;skewY:0;opacity:0;transformPerspective:600;transformOrigin:50% 50%;"
				data-speed="300"
				data-start="650"
				data-easing="Power3.easeInOut"
				data-splitin="none"
				data-splitout="none"
				data-elementdelay="0.1"
				data-endelementdelay="0.1"
				data-endspeed="1000"
				style="z-index: 2; max-width: auto; max-height: auto; white-space: nowrap;">
				<div class=" rs-slideloop" data-easing="Power3.easeInOut" data-speed="2" data-xs="0" data-xe="0" data-ys="0" data-ye="0" >
			Have your stock info, news and gains read to you in the background
				</div>
			</div>

			<!-- E -->
			<div class="tp-caption skewfromright randomrotateout tp-resizeme"
				data-x="center"
				data-y="480" 
				data-speed="300"
				data-start="700"
				data-easing="Power3.easeInOut"
				data-splitin="none"
				data-splitout="none"
				data-elementdelay="0.1"
				data-endelementdelay="0.1"
				data-endspeed="1000"
				style="z-index: 2; max-width: auto; max-height: auto; white-space: nowrap;">
				<div class=" rs-slideloop" data-easing="Power3.easeInOut" data-speed="2" data-xs="0" data-xe="0" data-ys="0" data-ye="0" >
			<a href="/apps/ispeakr-stocks" class="largesliderbtn">Learn More</a>
		</div>
	</div>
	</li>
	
<!-- SLIDE  3 PAN QUOTE -->
	<li data-transition="slidedown" data-slotamount="1" data-masterspeed="1500"  data-delay="15000"  data-saveperformance="off"  
	data-title="Pay Finder">
		
	<!-- MAIN IMAGE -->
		<img src="/img/top/placeit-3.jpg"  alt="" data-bgposition="center top" data-kenburns="on" data-duration="16000" data-ease="Linear.easeNone" data-bgfit="110" data-bgfitend="100" 
		data-bgpositionend="center center">
		
		<!-- LAYERS -->

		<!-- OPTIONAL DARK OVERLAY REMOVE IF NOT NEEDED -->
		<div class="tp-caption overlay tp-fade fadeout tp-resizeme"
			data-x="center" data-hoffset="0"
			data-y="center" data-voffset="0"
			data-speed="1000"
			data-start="100"
			data-easing="Power4.easeOut"
			data-splitin="none"
			data-splitout="none"
			data-elementdelay="0.1"
			data-endelementdelay="0.1"
			data-endspeed="500"
			data-endeasing="Power1.easeOut"
			style="z-index: 1; max-width: auto; max-height: auto; white-space: nowrap;">
		</div>
		
		<!-- A -->
			<div class="caption lft ltt" data-x="center" data-y="180" data-speed="800" data-start="2100" data-easing="easeOutExpo" style="z-index: 5">
				<img src="/img/mobilepay.png" alt="" >
			</div>
			
		<!-- B -->
		<div class="tp-caption title1 tp-fade fadeout tp-resizeme"
			data-x="center" 
			data-y="320" 
			data-speed="500"
			data-start="500"
			data-easing="Power4.easeOut"
			data-splitin="chars"
			data-splitout="chars"
			data-elementdelay="0.05"
			data-endelementdelay="0.05"
			data-endspeed="300"
			data-endeasing="Power1.easeOut"
			style="max-width: auto; max-height: auto; white-space: nowrap;">
		Mobile Pay Finder
		</div>
		
		<!-- C -->
		<div class="tp-caption lead-rev white tp-fade fadeout tp-resizeme"
			data-x="center" 
			data-y="400" 
			data-speed="600"
			data-start="800"
			data-easing="Power4.easeOut"
			data-splitin="none"
			data-splitout="none"
			data-elementdelay="0.1"
			data-endelementdelay="0.1"
			data-endspeed="600"
			data-endeasing="Power1.easeOut"
			style="max-width: auto; max-height: auto; white-space: nowrap;">
		Find merchants that accept Pay.
		</div>
		
		<!-- D -->
			<div class="tp-caption skewfromright randomrotateout tp-resizeme"
				data-x="center"
				data-y="480" 
				data-speed="700"
				data-start="800"
				data-easing="Power3.easeInOut"
				data-splitin="none"
				data-splitout="none"
				data-elementdelay="0.1"
				data-endelementdelay="0.1"
				data-endspeed="1000"
				style="z-index: 2; max-width: auto; max-height: auto; white-space: nowrap;">
				<div class=" rs-slideloop" data-easing="Power3.easeInOut" data-speed="2" data-xs="0" data-xe="0" data-ys="0" data-ye="0" >
			<a href="/apps/mobile-pay-finder" class="largesliderbtn">Learn More</a>
	</li>
		</ul>
			<div class="tp-bannertimer tp-bottom"></div>
		</div>
	</div>	
	<!--END-->
	
	<!--MAIN-->
		<main class="content-relative">
		
		<div class="container">
			<div class="row">
				<div class="col-lg-12">
					<div class="lead">
						Success is no accident. It is hard work, <strong>perseverance</strong>, learning, sacrifice and most of all, 
						<span class="colour"><strong>love</strong></span> of what you are doing or <span class="colour">learning</span> to do.
					</div>
				</div>
				
				<div class="col-md-12">
				<h5 class="text-center">Mission</h5>
				<p class="text-center">
					Our mission here at 45 Bit Code is create great apps.  
				</p>
				</div>
			</div>
		</div>
		
	<div class="pad45"></div>

	
						
				<!--CTA SECTION-->
				<section id="cta"> 
					<div class="container">
						<div class="row">
							<div class="col-md-12">
								<div class="lead">
									Get In Touch!
								</div>
								<p class="text-center">
									We want to work with you on your app needs.
								</p> 
								
								<p>
									Get in contact with us today.
								</p>
								
								<div class="text-center pad25">
								<a href="#" class="btn-big-colour bt-width">CONTACT US</a>
								</div>
									</div>
										</div>
									</div>
								</section>
							<!--//CTA SECTION-->
									
