<!--REVOLUTION SLIDER-->
	<div class="tp-banner-container">
		<div class="tp-banner">
			<ul>
	<!-- SLIDE  1 KEN BURNS -->
		<li data-transition="slidedown" data-slotamount="7" data-masterspeed="2000"  data-delay="10000"  data-saveperformance="on"  
		data-title="Ken Burns Slide">
			
			<!-- OPTIONAL DARK OVERLAY REMOVE IF NOT NEEDED -->
		<div class="tp-caption overlay tp-fade fadeout tp-resizeme"
			data-x="center" data-hoffset="0"
			data-y="center" data-voffset="0"
			data-speed="1000"
			data-start="100"
			data-easing="Power4.easeOut"
			data-splitin="none"
			data-splitout="none"
			data-elementdelay="0.1"
			data-endelementdelay="0.1"
			data-endspeed="500"
			data-endeasing="Power1.easeOut"
			style="z-index: 2; max-width: auto; max-height: auto; white-space: nowrap;">
		</div>
		
		<!-- MAIN IMAGE -->
		<img src="/img/dummy.png" alt="" data-lazyload="img/top/bg4.jpg" data-bgposition="right top" data-kenburns="on" data-duration="12000" data-ease="Power0.easeInOut" 
		data-bgfit="115" data-bgfitend="100" data-bgpositionend="center bottom">
		
		<!-- LAYERS -->
			
			<!-- A -->
			<div class="caption lft ltt" data-x="center" data-y="180" data-speed="800" data-start="2100" data-easing="easeOutExpo" style="z-index: 4">
				<img src="/img/emblem.png" alt="" >
			</div>
		
			<!-- B -->
			<div class="tp-caption title1 tp-resizeme customin customout"
					data-x="center" data-hoffset="0"
					data-y="320"
					data-customin="x:0;y:0;z:0;rotationX:90;rotationY:0;rotationZ:0;scaleX:1;scaleY:1;skewX:0;skewY:0;opacity:0;transformPerspective:200;transformOrigin:50% 0%;"
					data-customout="x:0;y:0;z:0;rotationX:0;rotationY:0;rotationZ:0;scaleX:0.75;scaleY:0.75;skewX:0;skewY:0;opacity:0;transformPerspective:600;transformOrigin:50% 50%;"
					data-speed="1000"
					data-start="1400"
					data-easing="Back.easeInOut"
					data-endspeed="300" style="z-index: 4">
				We're Designers
			</div>

			<!-- C -->
			<div class="tp-caption sub tp-resizeme  lfl stl" data-x="center" data-y="400" data-speed="800" data-start="2100" data-easing="easeOutExpo" style="z-index: 4">
		Inspiration for Creative People
			</div>

			<!-- D-->
			<div class="tp-caption customin tp-resizeme"
					data-x="center"
					data-y="480" 
					data-customin="x:0;y:0;z:0;rotationX:0;rotationY:0;rotationZ:0;scaleX:0;scaleY:0;skewX:0;skewY:0;opacity:0;transformPerspective:600;transformOrigin:50% 50%;"
					data-speed="500"
					data-start="2900"
					data-easing="Power3.easeInOut"
					data-splitin="none"
					data-splitout="none"
					data-elementdelay="0.1"
					data-endelementdelay="0.1"
					data-linktoslide="next"
					style="z-index: 4; max-width: auto; max-height: auto; white-space: nowrap;">
				<a href="#" class="largesliderbtn">
					PORTFOLIO
				</a>
			</div>			
		</li>
	
	<!-- SLIDE 2 CIRCLE IMAGE -->
		<li data-transition="slideup" data-slotamount="7" data-masterspeed="1500"  data-saveperformance="on" data-title="round image">
		
		<!-- MAIN IMAGE -->
			<img src="/img/dummy.png"  alt="" data-lazyload="/img/charts.jpg"  data-bgposition="center top" data-bgfit="cover" data-bgrepeat="no-repeat">
	
		<!-- LAYERS -->
			<!-- A -->
			<div class="tp-caption fullrounded customin"
				data-x="center" data-hoffset="0"
				data-y="center" data-voffset="0"
				data-customin="x:0;y:0;z:0;rotationX:0;rotationY:0;rotationZ:0;scaleX:0;scaleY:0;skewX:0;skewY:0;opacity:0;transformPerspective:600;transformOrigin:50% 50%;"
				data-speed="600"
				data-start="400"
				data-easing="Power4.easeInOut"
				data-elementdelay="0.1"
				data-endelementdelay="0.1"
				data-endspeed="300"
				style="z-index: 1;">
				<div class="rs-slideloop" data-easing="Power3.easeInOut" data-speed="2" data-xs="0" data-xe="0" data-ys="0" data-ye="0">
			<img src="/img/dummy.png" alt="" data-lazyload="/img/circle.jpg">
				</div>
			</div>
				
			<!--B -->
			<div class="tp-caption title1 customin randomrotateout tp-resizeme"
				data-x="center" data-hoffset="0"
				data-y="180" 
				data-customin="x:0;y:0;z:0;rotationX:90;rotationY:0;rotationZ:0;scaleX:1;scaleY:1;skewX:0;skewY:0;opacity:0;transformPerspective:200;transformOrigin:50% 0%;"
				data-speed="300"
				data-start="600"
				data-easing="Power3.easeInOut"
				data-splitin="none"
				data-splitout="none"
				data-elementdelay="0.1"
				data-endelementdelay="0.1"
				data-endspeed="1000"
				style="z-index: 2; max-width: auto; max-height: auto; white-space: nowrap;">
			<img src="/img/emblem.png" alt="" >
		</div>
		
			<!-- C -->
			<div class="tp-caption title1 tp-resizeme customin randomrotateout tp-resizeme"
				data-x="center" data-hoffset="0"
				data-y="320" 
				data-customin="x:0;y:0;z:0;rotationX:90;rotationY:0;rotationZ:0;scaleX:1;scaleY:1;skewX:0;skewY:0;opacity:0;transformPerspective:200;transformOrigin:50% 0%;"
				data-speed="300"
				data-start="600"
				data-easing="Power3.easeInOut"
				data-splitin="none"
				data-splitout="none"
				data-elementdelay="0.1"
				data-endelementdelay="0.1"
				data-endspeed="1000"
				style="z-index:2; max-width: auto; max-height: auto; white-space: nowrap;">
			We're Innovative
		</div>

			<!-- D-->
			<div class="tp-caption sub tp-resizeme customin randomrotateout"
				data-x="center"
				data-y="400" 
				data-customin="x:0;y:0;z:0;rotationX:0;rotationY:0;rotationZ:0;scaleX:5;scaleY:5;skewX:0;skewY:0;opacity:0;transformPerspective:600;transformOrigin:50% 50%;"
				data-speed="300"
				data-start="650"
				data-easing="Power3.easeInOut"
				data-splitin="none"
				data-splitout="none"
				data-elementdelay="0.1"
				data-endelementdelay="0.1"
				data-endspeed="1000"
				style="z-index: 2; max-width: auto; max-height: auto; white-space: nowrap;">
				<div class=" rs-slideloop" data-easing="Power3.easeInOut" data-speed="2" data-xs="0" data-xe="0" data-ys="0" data-ye="0" >
			Inspiration for Creative People
				</div>
			</div>

			<!-- E -->
			<div class="tp-caption skewfromright randomrotateout tp-resizeme"
				data-x="center"
				data-y="480" 
				data-speed="300"
				data-start="700"
				data-easing="Power3.easeInOut"
				data-splitin="none"
				data-splitout="none"
				data-elementdelay="0.1"
				data-endelementdelay="0.1"
				data-endspeed="1000"
				style="z-index: 2; max-width: auto; max-height: auto; white-space: nowrap;">
				<div class=" rs-slideloop" data-easing="Power3.easeInOut" data-speed="2" data-xs="0" data-xe="0" data-ys="0" data-ye="0" >
			<a href="#" class="largesliderbtn">GET IN TOUCH</a>
		</div>
	</div>
	</li>
	
<!-- SLIDE  3 PAN QUOTE -->
	<li data-transition="slidedown" data-slotamount="1" data-masterspeed="1500"  data-delay="15000"  data-saveperformance="off"  
	data-title="pan and quote">
		
	<!-- MAIN IMAGE -->
		<img src="/img/top/bg2.jpg"  alt="" data-bgposition="center top" data-kenburns="on" data-duration="16000" data-ease="Linear.easeNone" data-bgfit="110" data-bgfitend="100" 
		data-bgpositionend="center center">
		
		<!-- LAYERS -->

		<!-- OPTIONAL DARK OVERLAY REMOVE IF NOT NEEDED -->
		<div class="tp-caption overlay tp-fade fadeout tp-resizeme"
			data-x="center" data-hoffset="0"
			data-y="center" data-voffset="0"
			data-speed="1000"
			data-start="100"
			data-easing="Power4.easeOut"
			data-splitin="none"
			data-splitout="none"
			data-elementdelay="0.1"
			data-endelementdelay="0.1"
			data-endspeed="500"
			data-endeasing="Power1.easeOut"
			style="z-index: 1; max-width: auto; max-height: auto; white-space: nowrap;">
		</div>
		
		<!-- A -->
			<div class="caption lft ltt" data-x="center" data-y="180" data-speed="800" data-start="2100" data-easing="easeOutExpo" style="z-index: 5">
				<img src="/img/emblem.png" alt="" >
			</div>
			
		<!-- B -->
		<div class="tp-caption title1 tp-fade fadeout tp-resizeme"
			data-x="center" 
			data-y="320" 
			data-speed="500"
			data-start="500"
			data-easing="Power4.easeOut"
			data-splitin="chars"
			data-splitout="chars"
			data-elementdelay="0.05"
			data-endelementdelay="0.05"
			data-endspeed="300"
			data-endeasing="Power1.easeOut"
			style="max-width: auto; max-height: auto; white-space: nowrap;">
		Welcome to Qubit
		</div>
		
		<!-- C -->
		<div class="tp-caption lead-rev white tp-fade fadeout tp-resizeme"
			data-x="center" 
			data-y="400" 
			data-speed="600"
			data-start="800"
			data-easing="Power4.easeOut"
			data-splitin="none"
			data-splitout="none"
			data-elementdelay="0.1"
			data-endelementdelay="0.1"
			data-endspeed="600"
			data-endeasing="Power1.easeOut"
			style="max-width: auto; max-height: auto; white-space: nowrap;">
		When you are stuck, walk away from the computer and draw.
		<br/> It will teach you how to see.
		<br/>GERARD HUERTA
		</div>
	</li>
	
<!-- SLIDE 4 VIDEO -->
		<li data-transition="zoomout" data-slotamount="1" data-masterspeed="1500" data-saveperformance="on"  
		data-title="video">
		
		<!-- MAIN IMAGE -->
		<img src="/img/dummy.png" alt="" data-lazyload="/img/top/bg5.jpg" data-bgposition="center top" data-bgfit="cover" data-bgrepeat="no-repeat">
		
		<!-- LAYERS -->

		<!-- A -->
		<div class="tp-caption white_bold_bg_20 sfl tp-resizeme"
			data-x="766"
			data-y="373" 
			data-speed="1000"
			data-start="2600"
			data-easing="Power3.easeInOut"
			data-splitin="none"
			data-splitout="none"
			data-elementdelay="0.1"
			data-endelementdelay="0.1"
			data-endspeed="300"
			style="max-width: auto; max-height: auto; white-space: nowrap;">
		Vimeo
	</div>

		<!--B -->
		<div class="tp-caption white_bold_bg_20 sfl tp-resizeme"
			data-x="766"
			data-y="408" 
			data-speed="1000"
			data-start="2900"
			data-easing="Power3.easeInOut"
			data-splitin="none"
			data-splitout="none"
			data-elementdelay="0.1"
			data-endelementdelay="0.1"
			data-endspeed="300"
			style="max-width: auto; max-height: auto; white-space: nowrap;">
		YouTube
	</div>

		<!-- C-->
		<div class="tp-caption white_bold_bg_20 sfl tp-resizeme"
			data-x="768"
			data-y="443" 
			data-speed="1000"
			data-start="3200"
			data-easing="Power3.easeInOut"
			data-splitin="none"
			data-splitout="none"
			data-elementdelay="0.1"
			data-endelementdelay="0.1"
			data-endspeed="300"
			style="max-width: auto; max-height: auto; white-space: nowrap;">
		HTML5
		</div>

<!-- F -->
		<div class="tp-caption title1 tp-resizeme lft tp-resizeme"
			data-x="808"
			data-y="231" 
			data-speed="600"
			data-start="1100"
			data-easing="Power3.easeInOut"
			data-splitin="chars"
			data-splitout="none"
			data-elementdelay="0.1"
			data-endelementdelay="0.1"
			data-endspeed="300"
			style="z-index: 2;">
	Videos
		</div>
		<!-- D -->
		<div class="tp-caption customin"
			data-x="925"
			data-y="300" 
			data-customin="x:0;y:0;z:0;rotationX:0;rotationY:0;rotationZ:0;scaleX:0;scaleY:0;skewX:0;skewY:0;opacity:0;transformPerspective:600;transformOrigin:50% 50%;"
			data-speed="300"
			data-start="2300"
			data-easing="Power3.easeInOut"
			data-splitin="none"
			data-splitout="none"
			data-elementdelay="0.1"
			data-endelementdelay="0.1"
			data-endspeed="300"
			style="max-width: auto; max-height: auto; white-space: nowrap;">
		<img src="/img/redbg.png" alt="" >
	</div>

		<!-- E -->
		<div class="tp-caption med_30 customin tp-resizeme"
			data-x="970"
			data-y="305" 
			data-customin="x:0;y:0;z:0;rotationX:0;rotationY:0;rotationZ:0;scaleX:0;scaleY:0;skewX:0;skewY:0;opacity:0;transformPerspective:600;transformOrigin:50% 50%;"
			data-speed="300"
			data-start="2300"
			data-easing="Power3.easeInOut"
			data-splitin="none"
			data-splitout="none"
			data-elementdelay="0.1"
			data-endelementdelay="0.1"
			data-endspeed="300"
			style="max-width: auto; max-height: auto; white-space: nowrap;">
		for
	</div>
	
	<!-- F -->
		<div class="tp-caption light_heavy_60 customin tp-resizeme"
			data-x="965"
			data-y="345" 
			data-customin="x:0;y:0;z:0;rotationX:0;rotationY:0;rotationZ:0;scaleX:0;scaleY:0;skewX:0;skewY:0;opacity:0;transformPerspective:600;transformOrigin:50% 50%;"
			data-speed="300"
			data-start="2300"
			data-easing="Power3.easeInOut"
			data-splitin="none"
			data-splitout="none"
			data-elementdelay="0.1"
			data-endelementdelay="0.1"
			data-endspeed="300"
			style="max-width: auto; max-height: auto; white-space: nowrap;">
		YOU
	</div>
		
		<!-- G -->
		<div class="tp-caption tp-fade fadeout"
			data-x="78"
			data-y="135" 
			data-speed="300"
			data-start="1450"
			data-easing="Power3.easeInOut"
			data-elementdelay="0.1"
			data-endelementdelay="0.1"
			data-endspeed="600"
			data-autoplay="false"
			data-autoplayonlyfirsttime="false">
		<!-- add video -->
			<iframe src='http://player.vimeo.com/video/92691167?title=0&amp;byline=0&amp;portrait=0;api=1' width='625' height='467' style='width:625px;height:467px;'></iframe>
		</div>
	</li>

<!-- SLIDE 5 HTML5 VIDEO -->
		<li data-transition="curtain-1" data-slotamount="7" data-masterspeed="1000"
		 data-fstransition="fade" data-fsmasterspeed="1000" data-fsslotamount="7" data-saveperformance="off"  data-title="html5 video">
	
		<!-- MAIN IMAGE -->
		<!--<img src="videos/poster.jpg"  alt="" data-bgposition="center center" data-bgfit="cover" data-bgrepeat="no-repeat">-->
		
		<!-- VIDEO-->
		<div class="tp-caption tp-fade fadeout fullscreenvideo"
			data-x="0"
			data-y="0"
			data-speed="1000"
			data-start="1100"
			data-easing="Power4.easeOut"
			data-elementdelay="0.01"
			data-endelementdelay="0.1"
			data-endspeed="1500"
			data-endeasing="Power4.easeIn"
			data-autoplay="true"
			data-autoplayonlyfirsttime="false"
			data-nextslideatend="true"
			data-dottedoverlay="twoxtwo"
			data-volume="mute" data-forceCover="1" data-aspectratio="16:9" data-forcerewind="on" style="z-index: 0;">
		
		<video class="video_width" preload="none" poster='videos/poster.jpg'> 
			<source src='videos/small.mp4' type='videos/mp4' />
			<source src='videos/small.webm' type='videos/webm' />
		</video>
		</div>
		
		<!-- LAYERS -->
		<!-- A -->
		<div class="tp-caption title1 lfb ltl tp-resizeme"
			data-x="center" 
			data-y="180" 
			data-speed="1500"
			data-start="1000"
			data-easing="Power4.easeInOut"
			data-splitin="none"
			data-splitout="none"
			data-elementdelay="0.1"
			data-endelementdelay="0.1"
			data-endspeed="1000"
			data-endeasing="Power4.easeIn"
			style="z-index: 4; max-width: auto; max-height: auto; white-space: nowrap;">
		<img src="/img/emblem.png" alt="" >
		</div>
		
		<!--B -->
		<div class="tp-caption title1 lfb ltl tp-resizeme"
			data-x="center" 
			data-y="320" 
			data-speed="1500"
			data-start="2000"
			data-easing="Power4.easeInOut"
			data-splitin="none"
			data-splitout="none"
			data-elementdelay="0.1"
			data-endelementdelay="0.1"
			data-endspeed="1000"
			data-endeasing="Power4.easeIn"
			style="z-index: 4; max-width: auto; max-height: auto; white-space: nowrap;">
		html5 video
		</div>

		<!-- C -->
		<div class="tp-caption sub lfb ltl tp-resizeme"
			data-x="center" 
			data-y="400" 
			data-speed="1500"
			data-start="3000"
			data-easing="Power4.easeInOut"
			data-splitin="none"
			data-splitout="none"
			data-elementdelay="0.1"
			data-endelementdelay="0.1"
			data-endspeed="1000"
			data-endeasing="Power4.easeIn"
			style="z-index: 4; max-width: auto; max-height: auto; white-space: nowrap;">
		Inspiration for Creative People
		</div>
			
		<!-- D -->
		<div class="tp-caption lfb ltl tp-resizeme"
			data-x="center"
			data-y="480" 
			data-speed="1500"
			data-start="4000"
			data-easing="Power4.easeInOut"
			data-splitin="none"
			data-splitout="none"
			data-elementdelay="0.1"
			data-endelementdelay="0.1"
			data-endspeed="1000"
			data-endeasing="Power4.easeIn"
			style="z-index: 4; max-width: auto; max-height: auto; white-space: nowrap;">
			<div class=" rs-slideloop" data-easing="Power3.easeInOut" data-speed="2" data-xs="0" data-xe="0" data-ys="0" data-ye="0" >
		<a href="#" class="largesliderbtn">SERVICES</a>
			</div>
	</div>
	</li>
		</ul>
			<div class="tp-bannertimer tp-bottom"></div>
		</div>
	</div>	
	<!--END-->
	
	<!--MAIN-->
		<main class="content-relative">
		
		<div class="container">
			<div class="row">
				<div class="col-lg-12">
					<div class="lead">
						Success is no accident. It is hard work, <strong>perseverance</strong>, learning, sacrifice and most of all, 
						<span class="colour"><strong>love</strong></span> of what you are doing or <span class="colour">learning</span> to do.
					</div>
				</div>
				
				<div class="col-md-12">
				<h5 class="text-center">Mission</h5>
				<p class="text-center">
					Our mission here at 45 Bit Code is create great apps.  
				</p>
				</div>
			</div>
		</div>
		
	<div class="pad45"></div>

	
						
				<!--CTA SECTION-->
				<section id="cta"> 
					<div class="container">
						<div class="row">
							<div class="col-md-12">
								<div class="lead">
									Get In Touch!
								</div>
								<p class="text-center">
									We want to work with you on your app needs.
								</p> 
								
								<p>
									Get in contact with us today.
								</p>
								
								<div class="text-center pad25">
								<a href="#" class="btn-big-colour bt-width">CONTACT US</a>
								</div>
									</div>
										</div>
									</div>
								</section>
							<!--//CTA SECTION-->
									
