<main class="content-no-top">
<div class="container">
				<div class="row">
					<div class="col-lg-12 text-center">
					
						<span class="icon-big colour icon-search"></span>
						
						<h1 class="pad25">
							Whoops! 404
						</h1>
				
						<div class="lead">
							The page you were <strong>looking</strong> for appears to have been moved, deleted or does not exist. 
							Why not find out <a href="">who we are</a>, browse our <a href="">portfolio</a>, 
							<a href="">contact</a> us or catch up on the latest <a href="">news</a>.
						</div>
					</div>
				</div>
			</div>
</main>